# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ButtonTest.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\code\Random\ButtonTest\.idea\.idea.ButtonTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
