# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Button Test.iml
# Datasource local storage ignored files
/../../../../../../../:\code\Random\Button Test\.idea\.idea.Button Test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
